.Tabla {

}

.Tabla .jumbotron {
    background-color: rgb(149, 25, 52);
    color: white;
}

.Tabla hr {
    background-color: #eee;
}

.Tabla .table td, .Tabla .table th {
    vertical-align: middle;
}
